alias r='. ranger'
alias yt='youtube-dl'
alias v='$EDITOR'

alias ls='ls --color=auto -a'
alias grep='grep --color=auto'
alias du='du -h'
alias cp='cp -iv'
alias mv='mv -iv'
alias neofetch='neofetch --source $HOME/.fetch.png --backend w3m --size 200px --underline off --color_blocks off --disable shell resolution theme icons term kernel'
alias feh='feh -d'

alias gp='git add . && git commit -m "$(date)" && git push -u origin master'
alias vaultup='rclone sync ~/music/unreleased cj:unreleased -P --drive-use-trash=false'
