alias ls='ls --color=auto -a'
alias grep='grep --color=auto'
alias du='du -h'
alias ranger='. ranger'
alias cp='cp -iv'
alias mv='mv -iv'
alias v='$EDITOR'
alias neofetch='neofetch --source $HOME/.neofetchimg.png --backend w3m --size 200px --underline off --color_blocks off --disable shell resolution theme icons term kernel'

alias gp='git add . && git commit -m "$(date)" && git push -u origin master'
alias windows='sudo grub-reboot "$(grep -i windows /boot/grub/grub.cfg | cut -d -f2)" && sudo reboot'
alias vaultup='rclone sync ~/music/unreleased cj:unreleased -P'

alias cid='python $HOME/docs/coding/py/cursefromid/cursefromid.py $1'
alias mod='touch $1 && git add $1 && git commit -m "$2"'
